@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>SAVE Program</h1>
  <p class="lead">Welcome to SAVE to the database! Students. Athletes. Values. Education.</p>
  <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Our Mission</h2>
    <p>
      Serving over 20 children on a bi-weekly basis while impacting an additional 200 through various camps
      and clinics throughout the year, our mission is to connect underserved youth with opportunities and
      resources to be successful students and active individuals. Participants get ample opportunities to not
      only participate in athletics and receive tutoring on a university campus, but gain knowledge through
      additional community service activities.
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Student Financial Support</h2>
    <p>
      The youth we serve receive financial support through our athletic sponsorships. While camps
      in Nebraska can cost anywhere from $50 a week to $350 dollars a week and league registration
      fees costing up to $200, we ensure that kids without this kind of financial ability still have access
      to compete with kids in other areas of the city.
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Student Success</h2>
    <p>
      Sports are used as an avenue for youth to get the most out of both their athletic and academic performance.
      By creating that connection between academic success and athletic support, our programing helps kids reach
      their potential both in the classroom and on the field. By designing mutually beneficial programming, it’s easy
      for participants to see how one element aids the other in their success.  Through our unique partnerships with
      local universities, by bringing the children onto a college campus for educational support, we stand apart from
      any other organization in the area. Creighton University’s Multicultural Affairs Department provides
      tutoring/mentoring sessions to our S.A.V.E. members on a bi-weekly basis. We require all S.A.V.E. members to
      maintain a “C” or higher average in all subjects. Since our programming initially started, unexcused absences
      have decreased by 61 percent and participants’ GPAs have risen on average .4 points.
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
  </div>
</div>